{% extends "base.html" %}

{% block content %}

<div class="card">

    <h2>User Management</h2>

    <br>

    <table>

        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Username</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>

        {% for user in users %}

        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
             <td>
        <a href="/user-permissions/{{ user[0] }}">
            🔑 Permissions
        </a>
    </td>
        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}